.links
{
    background-color: skyblue;
    height:70px;
    width:100%;
    margin-top:-300px;
    text-align:center;
    justify-content: center;
    display:flex;
    align-items: center;
}
.links a
{
    text-decoration: none;
    color:black;
    padding-left:40px;
    text-align: center;
}
.links a:hover
{
    color:white;
    font-weight: bold;
}
